button {
  margin: 0.3rem;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  padding: 6px;
}
.card button {
  font-size: 14px;
}
@media (min-width: 780px) {
  button {
    font-size: 25px;
  }
  .card button {
    font-size: 23px;
  }
  button.readMore {
    font-size: 32px;
  }
  button.easy,
  button.medium,
  button.hard,
  button.cuisine {
    font-size: 23px;
  }
}
.back_btn {
  border: none;
  color: var(--main-color);
  background-color: var(--bg-color);
  font-size: 40px;
}

button.european {
  border-radius: 20px;
  border: 1px var(--european-main) solid;
  color: var(--european-main);
  background-color: var(--bg-color);
}
button.european:hover,
button.european.active {
  background-color: var(--european-main);
  color: var(--bg-color);
}

button.eastandsoutheastasian {
  border-radius: 20px;
  border: 1px var(--asian-main) solid;
  color: var(--asian-main);
  background-color: var(--bg-color);
}
button.eastandsoutheastasian:hover,
button.eastandsoutheastasian.active {
  background-color: var(--asian-main);
  color: var(--bg-color);
}
button.northandlatinamerican {
  border-radius: 20px;
  border: 1px var(--american-main) solid;
  color: var(--american-main);
  background-color: var(--bg-color);
}
button.northandlatinamerican:hover,
button.northandlatinamerican.active {
  background-color: var(--american-main);
  color: var(--bg-color);
}
button.mediterraneanandmiddleeastern {
  border-radius: 20px;
  border: 1px var(--mediterranean-main) solid;
  color: var(--mediterranean-main);
  background-color: var(--bg-color);
}
button.mediterraneanandmiddleeastern:hover,
button.mediterraneanandmiddleeastern.active {
  background-color: var(--mediterranean-main);
  color: var(--bg-color);
}
button.southasian {
  border-radius: 20px;
  border: 1px var(--south-asian-main) solid;
  color: var(--south-asian-main);
  background-color: var(--bg-color);
}
button.southasian:hover,
button.southasian.active {
  background-color: var(--south-asian-main);
  color: var(--bg-color);
}
button.easy {
  border-radius: 20px;
  border: 1px var(--difficulty-easy) solid;
  color: var(--difficulty-easy);
  background-color: var(--bg-color);
  font-size: 14px;
}
button.medium {
  border-radius: 20px;
  border: 1px var(--difficulty-medium) solid;
  color: var(--difficulty-medium);
  background-color: var(--bg-color);
  font-size: 14px;
}
button.hard {
  border-radius: 20px;
  border: 1px var(--difficulty-hard) solid;
  color: var(--difficulty-hard);
  background-color: var(--bg-color);
  font-size: 14px;
}
button.cuisine {
  border-radius: 20px;
  border: 1px var(--european-main) solid;
  color: var(--european-main);
  background-color: var(--bg-color);
  font-size: 14px;
}
button.readMore {
  border-radius: 20px;
  border: 3px var(--main-color) solid;
  color: var(--main-color);
  background-color: var(--bg-color);
  font-size: 20px;
  display: block;
  margin: 10px auto;
}
.readMore a {
  color: var(--main-color);
  text-decoration: none;
}
button.readMore:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}
.readMore:hover a {
  color: var(--bg-color);
}
button.japanese,
button.korean,
button.thai,
button.vietnamese,
button.asian {
  border: 1px var(--asian-main) solid;
  color: var(--asian-main);
}
button.italian button.french button.spanish button.european {
  border: 1px var(--european-main) solid;
  color: var(--european-main);
}
button.greek,
button.turkish,
button.lebanese,
button.moroccan,
button.mediterranean {
  border: 1px var(--mediterranean-main) solid;
  color: var(--mediterranean-main);
}
button.indian,
button.pakistani {
  border: 1px var(--south-asian-main) solid;
  color: var(--south-asian-main);
}
button.american,
button.mexican,
button.brazilian,
button.cuban,
button.hawaiian {
  border: 1px var(--american-main) solid;
  color: var(--american-main);
}

button.readMore {
  border-radius: 20px;
  border: 3px solid var(--main-color);
  background-color: var(--bg-color);
  a {
    color: var(--main-color);
  }
}

button.readMore:hover {
  background-color: var(--button-hover);
}
