#ratingsContainer {
  margin: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  .flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.heroSection {
  margin: 0;
  img {
    width: 100%;
  }
}
#categoryContainer {
  padding: 0;
  section:nth-child(2) {
    margin: 1.5em;
  }
}
.ratingCard {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  gap: 0.2rem;
}

#categoryList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5em;
  margin: 1.5em 0;
  a {
    border: 3px solid var(--main-color);
    border-radius: 20px;
    color: var(--main-color);
    padding: 0.5rem 0.5rem;
    font-size: 1em;
  }
  a:hover {
    background-color: var(--botton-hover);
  }
}

@media (min-width: 780px) {
  #categoryList a {
    padding: 0.5rem 2rem;
    font-size: 2em;
  }

  #categoryList a:hover {
    background-color: var(--botton-hover);
  }

  #ratingsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;

    h3 {
      grid-column: 1/-1;
    }
  }
}
