:root {
  /* Som standard så bruger alt tekst quicksand fonten */
  /* font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */

  /* fjern padding og margin som standard, tilføj igen der hvor det passer */
  margin: 0;
  padding: 0;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
img {
  width: 100%;
  height: auto;
}

body {
  background-color: var(--bg-color);
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 40px;
  color: var(--main-color);
}

h2 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 30px;
  color: var(--main-color);
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  color: var(--secondary-color);
}
h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  margin: 0;
}
h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}
p,li {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  margin: 0;
}
nav li a {
  font-size: 20px;
}
a {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
@media (min-width: 780px) {
  h1 {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 64px;
    color: var(--main-color);
  }

  h2 {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 48px;
    color: var(--main-color);
  }

  h3 {
    font-size: 40px;
    font-family: "Quicksand", sans-serif;
    color: var(--secondary-color);
  }
  h4 {
    font-size: 32px;
    font-family: "Quicksand", sans-serif;
    margin: 0;
  }
  p,li {
    font-size: 24px;
    font-family: "Quicksand", sans-serif;
    margin: 0.6rem;
  }
  nav li a {
    font-size: 32px;
  }
  a {
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
  }
}

/* Extra */
.star{
  color: var(--stars);
}

/* header */
header {
  text-align: center;
}
body {
  margin: 0;
}
header nav {
  background-color: var(--main-color);
}
header a {
  color: var(--bg-color);
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
}
header li {
  display: inline-block;
  padding: 1rem 2rem;
}
h1 {
  display: inline-block;
  color: var(--main-color);
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
/* footer */
footer h1 {
  padding: 2rem;
}
footer {
  border-top: 4px solid var(--main-color);
  margin-top: 4rem;
}

.card {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 7;
  gap: 0;
}
